// ALLOWS US TO USE THE VALUES FROM BASE
@use "_base.scss" as *;

// LAYOUT FOR CONTAINERS -> WHERE THINGS SHOULD BE

.navigation {
  background-color: $color-primary;
  height: 10vh;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  background-color: $color-primary;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outro-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
